@import "_custom-variables";

// html{ overflow-y: scroll; }
body.noscroll{
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body{
  overflow-y: scroll
}
html, body{ height: 100%; }

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;

}

h2{
  font-family: Montserrat-Regular;
  font-size: 45px;
  color: #4D6280;
  letter-spacing: -2.46px;
  line-height: 48px;
}

h4 {
  font-family: 'Montserrat';
  font-weight:500;
  color: #4D6280;
  font-size: 22px;
  line-height: 40px;
}

.copy{
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color: #738599;
  letter-spacing: -0.2px;
  line-height: 32px;
}








.nav-bar{
  position: absolute;
  height: 64px;
  z-index:100;
  width:100%;
  padding: 0px;

  a{
    color: white;
  }

  .title{
    flex: 1;
  }

  .nav-links{
    display: flex;
    align-items: center;
    height: 100%;

    .right{
      margin-left: auto;
    }
    a{
        margin-right: 32px;
        font-weight: 500;
        letter-spacing: .05em;
        font-size: 12px;
        text-transform: uppercase;
    }
  }
}

.back{
  background-color: rgba(0,0,0,0.3);
  padding:20px;
}
.nav-bar.right{
  flex-direction: row-reverse;

}

.hero{
  max-height: 560px;
  min-height: 560px;
  color: #fff;
  overflow: hidden;
  background: #5f3cbc; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5f3cbc 0%, #3594f8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5f3cbc 0%,#3594f8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5f3cbc 0%,#3594f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3cbc', endColorstr='#3594f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  display: flex;
  align-items: center;
  position: relative;
  // padding: 0 64px;

  p{
    font-family: "Montserrat";
    font-size: 46px;
    font-weight: 100;
    line-height: 1.25;
  }
}
body{ background-color: #333; }

html, body, #app { height: 100%;}

.header-content{
  position: absolute;
  top: 200px;
  left: 0;
}

.projects-index{
  overflow: hidden;
  position: relative;

  .project{
    position: relative;
  }

	.thumbnail {
		width: 100%;
		background-color: #fff;
	}

  .projectOverlay{
    background-color: rgba(60, 145, 255,0.75);
    position: absolute;
    width:100%;
    height: 48px;
    // transition: all .25s ease;
    display: none;
    align-items: center;
    justify-content: center;
    bottom:0;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat";
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  }
  .projectThumnail:hover .projectOverlay{
    display: flex;
  }
}

.skrim{
  background-color: black;
  opacity: .9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:1;
  vertical-align: middle;
}

.video{
  // position: absolute;
  min-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;

  .back{
    cursor: pointer;
  }
  iframe{
    width:100%;
    height:100%;
  }
}

.video.reel-wrapper{
  position: absolute;
  z-index: 101;
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  .reel{
    height :560px;
  }

  .back{
    z-index:102;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.circle{
  width: 300px;
  height: 300px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  left: -9999px;
}

.active{
  z-index:100;
}

.backgroundImage{
  position: fixed;
  min-height: 100%;
  z-index: -1;
}

.imageHolder{
  // overflow:hidden;
  // height: 100%;
  // position: fixed;

  img{
    // margin: auto;
    // min-height: 100%;
    // left: -1000%;
    // right: -1000%;
    // top: -1000%;
    // bottom: -1000%;
  }

  .videoPlayer{
    position: relative;
    text-align: center;

    .controls{
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: .5;
      transition: all 0.35s;
      cursor: pointer;
    }

    .pause{
      opacity: 0;
    }
  }
  .videoPlayer:hover{
    .pause{
        opacity: .5
      }
  }
}


.projectShow{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width:calc(100% + 16px);
}

.project.container{
  top: 384px;
  position: relative;

  .header{
    overflow: hidden;
    background-color: white;
    width: 100%;
    position: absolute;

    .title{
      font-size: 48px;
      font-weight: 300;
      letter-spacing: -1.7px;
      height: 80px;
      color: $darkGrey;
    }

    .subtitle{
      height: 16px;
      font-size: 20px;
      color: $mediumGrey;
    }
  }

  .imageHolder{
    // overflow:hidden;
    position: relative;
    // height: 400px;
    // width: 100%;
    // z-index:101;

    img{
      // position: absolute;
      // margin: auto;
      // width:100%;
      // min-height: 100%;
      // left: -1000%;
      // right: -1000%;
      // top: -1000%;
      // bottom: -1000%;
    }
  }

  .content{
    // display: block;
    // min-height: 0;
    // z-index: 99;

    .section{
      padding: 32px 48px;
      background-color: #fff;
    }

    video{
      width: 100%;
      margin-bottom: 40px;
    }

    .bigTitle{
      color: $darkGrey;
      font-size: 45px;
      font-weight: 500;
      line-height: 56px;
    }

    .bigBody{
      color: $mediumGrey;
      font-size: 22px;
      font-weight: 300;
      line-height: 38px;
    }

    .bodyHeader{
      margin-top: 40px; line-height: 28px; font-size: 20px; font-weight: 300; color: $darkGrey;
    }

    .body{ margin-top: 20px; font-size: 20px; color: $mediumGrey; line-height: 32px;}
    .project-image{ margin-bottom: 24px; box-shadow: $shadow4; }
    .project-image:last-child{ margin-bottom: 0; box-shadow: none;}
    .video{
      margin-bottom: 20px;
      position:relative; padding-top: 56%;

      iframe{
        position:absolute;top:0;left:0;width:100%; height:100%;
      }
    }
  }
}
.row.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.montserrat{ font-family: 'Montserrat', sans-serif; font-weight: 700;}
.roboto{ font-family: 'Roboto', sans-serif; font-weight: 300;}

.particles{
  // height: 100%;
  width: 100%;
  // position:absolute;
}

.right{
  text-align: right;
}

.img-fluid{
  width: 100%;
}
