html{ overflow-y: scroll; }
html, body{ height: 100%; }

.nav-bar{
  position: absolute;
  height: 64px;
  display: flex;
  align-items: center;
  z-index:1000;
  width:100%;
  padding: 0 32px;

  a{
    color: white;
  }

  .title{
    flex: 1;
  }
  .nav-links{
  }
}
.hero{
  background-color: #4E80DE;
  max-height: 560px;
  min-height: 50vh;
  color: #fff;
  overflow: hidden;

  img{
    min-width: 100%;

  }
}
body{ background-color: #38f; }

html, body, #app { height: 100%;}
.projects-index{
  overflow: hidden;
  position: relative;
	min-height:100%;

  .projectsGrid{
    width:100%;
    height:100%;
  }

  .item {
    z-index: 1;
  }

	.thumbnail {
		width: 100%;
		background-color: #fff;
	}
}

.circle{
  width: 300px;
  height: 300px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  top: 9999px;
  left: 0;
  z-index: 99;
}

.content{
	color: white;
}
